.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    .search {
        display: flex;
        width: 300px;
        .loading {
            width: 30px;
        }
    }

    .rank__container {
        display: flex;
        flex-direction: column;
        width: 150px;

        .rank__group {
            display: flex;
            flex-direction: column;
        }

        .rank__detail {
            display: flex;
            .word-ranking__details {
                display: flex;
                flex: 3;
            }

            .num-ranking__details {
                display: flex;
                flex: 1;
            }
        }
    }
}
